/* .wrap{
  height: 50%;
  
} */
h3{
  color: blue;
}
#total{
  position: relative;
  text-align: right;
}

.container{
   background:white;
      width: 300%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_div{

    height: 190px;
    margin: 10px;
    padding:5px;
    background:white;
    color:black;
    width: 30%;
    text-align: center;
  
}
.lead{
  color: black;
  font-size: 18px;
}
sup{
  color: gray;
}

#amount{
  color: blue;
}
.shadow{
  color: lightgrey;
}
.grid-container {
  display: grid;
  border-collapse: collapse;
  grid-column-gap: 5px;
  justify-content: space-evenly;
  grid-template-columns:auto auto auto auto;
  background-color: white;
  padding: 10px;
  border-collapse: collapse;
  
  text-decoration-style: none;
}
  

.grid-item {
  border-collapse: collapse;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 5px;
}
.grid-item img {
  border-collapse: collapse;
  grid-area: photo;
  max-height: 50px;
  max-width: 50px;
  
  background-size: cover; /* <-- background size */
  background-position: center; /* <-- background position */
}

/* #cancel{
  background-color: white;
} */